
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
<h1>You email has been confirmed</h1>
<a class="banner-btn" asp-controller="Accounts" asp-action="Login">Go Login</a>
</body>
</html>
