@{
    ViewData["Title"] = "Home Page";
}


<section class="image-text">
    <div class="text-on-picture">
        <h3><i>Welcome To Our Studio!</i></h3>
        <p>IT'S NICE TO MEET YOU</p>
        <a href="#" class="tell-more-btn text-uppercase">Tell me more</a>
    </div>

    <div class="content">
        <img src="~/assets/img/header-bg.jpg" />
    </div>
</section>

    </header>


<main>


    <section id="service">
        <div class="container">
            <div class="section-title-items text-center">
                <h2>
                    SERVICES
                </h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 d-flex mt-3">
                    <div class="service-items">

                        <i class="fas fa-shopping-cart"></i>
                        <h4>
                            E-Commerce
                        </h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure voluptas ad distinctio consectetur suscipit voluptates accusamus laboriosam unde

                        </p>
                    </div>


                </div>

                <div class="col-lg-4 col-md-12 d-flex mt-3">
                    <div class="service-items">

                        <i class="fas fa-laptop"></i>
                        <h4>
                            Responsive Design
                        </h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure voluptas ad distinctio consectetur suscipit voluptates accusamus laboriosam unde

                        </p>
                    </div>


                </div>

                <div class="col-lg-4 col-md-12 d-flex mt-3">
                    <div class="service-items">

                        <i class="fas fa-lock"></i>
                        <h4>
                            Web security
                        </h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure voluptas ad distinctio consectetur suscipit voluptates accusamus laboriosam unde

                        </p>
                    </div>


                </div>

            </div>
        </div>
    </section>



    <section id="portfolio">

        <div class="container">

            <div class="section-title-items text-center">
                <h2>
                    Portfolio
                </h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur.
                </p>
            </div>


            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" data-target="#exampleModal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/assets/img/4.jpg" alt="...">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Lines</div>
                            <div class="portfolio-caption-subheading text-muted">Branding</div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" data-target="#exampleModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/assets/img/5.jpg" alt="...">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Lines</div>
                            <div class="portfolio-caption-subheading text-muted">Branding</div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" data-target="#exampleModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/assets/img/6.jpg" alt="...">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Lines</div>
                            <div class="portfolio-caption-subheading text-muted">Branding</div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="section-title-items text-center">
                <h2>
                    OUR AMAZING TEAM
                </h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur.
                </p>
            </div>


            <div class="row">
                <div class="col-lg-4 col-md-12 mt-3">
                    <div class="team-items">

                        <div class="member-image">
                            <img src="~/assets/img/1.jpg" alt="">
                        </div>
                        <div class="member-name">
                            <h4>
                                Parveen Anand
                            </h4>
                        </div>
                        <div class="member-work">
                            <p>Lead Designer</p>
                        </div>
                        <div class="social-links">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mt-3">
                    <div class="team-items">

                        <div class="member-image">
                            <img src="~/assets/img/2.jpg" alt="">
                        </div>
                        <div class="member-name">
                            <h4>
                                Parveen Anand
                            </h4>
                        </div>
                        <div class="member-work">
                            <p>Lead Designer</p>
                        </div>
                        <div class="social-links">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mt-3">
                    <div class="team-items">

                        <div class="member-image">
                            <img src="~/assets/img/3.jpg" alt="">
                        </div>
                        <div class="member-name">
                            <h4>
                                Parveen Anand
                            </h4>
                        </div>
                        <div class="member-work">
                            <p>Lead Designer</p>
                        </div>
                        <div class="social-links">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>

            </div>
            <p class="team-end-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>

        </div>
    </section>

</main>